<div class="d-flex h-100 text-center text-bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <div class="px-3">
    <h1>Quai Antique</h1>
    <p class="lead">Une cuisine vraie et authentique qui vous transportera directement au sommet de nos chères montagnes savoyardes!</p>
    <p class="lead">
      <a href="/login" class="btn btn-lg btn-light fw-bold border-white bg-white">Reservez votre venue</a>
    </p>
  </div>
</div>
</div>