<div class="d-flex h-100 text-center">
<div class="wrapper">
<div class="cover-container d-flex mx-auto flex-column text-bg-transparent" id="hero-container">
<img src="{{ asset('/images/platter-g4ab2c81e4_1920.jpg') }}" alt="main_illustration" id="hero-image">
  <div class="p-3" id="main-text">
  <div class="image-logo-container">
  <img src="{{ asset('/images/logo_square_white_fondtranspa.png') }}" alt="logo Quai Antique" class="d-inline-block align-text-top" id="logo-hero-nav">
    </div>
    <h1>Quai Antique</h1>
    <p class="lead">Une cuisine vraie et authentique qui vous transportera directement au sommet de nos chères montagnes savoyardes!</p>
    <p class="lead">
      <a href="/login" class="btn btn-lg btn-light fw-bold border-white bg-white">Reservez votre venue</a>
    </p>
  </div>
</div>
</div>
</div>