<div class="container mt-5 mb-5">
  <div class="jumbotron mb-5">
    <h1 class="d-flex justify-content-center">Galerie de nos plats</h1>
    <p class="lead d-flex justify-content-center">La Savoie comme vous ne l'avez jamais goûté</p>
  </div>
  
  
  <div class="row">
  {% for plat in plats %}
     
    <div class="col-sm-6 col-md-4 mb-3 card-plat">
    <img src="/images/plats/{{ plat.getImageName }}" alt="" class="fluid img-thumbnail">
    <div class="card-body">
        <h5 class="card-title">{{plat.nom}}</h5>
        <p class="card-text">{{plat.description|u.truncate(55, ' ...', false)}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
