
<div class="wrapper col-md-3 m-auto mt-5">
<h2 class="justify-content-center mb-5">Les horaires de notre restaurant</h2>

<table class="table table-sm justify-content-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col-md-auto">Jour de la semaine</th>
      <th scope="col-md-auto">Midi</th>
      <th scope="col-md-auto">Soir</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Lundi</th>
      <td>12h - 15h</td>
      <td>18h - 22h</td>
    </tr>
    <tr>
      <th scope="row">Mardi</th>
      <td>12h - 15h</td>
      <td>18h - 22h</td>
    </tr>
    <tr>
      <th scope="row">Mercredi</th>
      <td>Fermé</td>
      <td>18h30 - 22h30</td>
    </tr>
    <tr>
      <th scope="row">Jeudi</th>
      <td>Fermé</td>
      <td>18h30 - 22h30</td>
    </tr>
    <tr>
      <th scope="row">Vendredi</th>
      <td>Fermé</td>
      <td>18h30 - 22h30</td>
    </tr>
    <tr>
      <th scope="row">Samedi</th>
      <td>Fermé</td>
      <td>18h30 - 22h30</td>
    </tr>
    <tr>
      <th scope="row">Dimanche</th>
      <td>Fermé</td>
      <td>Fermé</td>
    </tr>
  </tbody>
</table>
</div>