<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navbar-main">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{{ asset('/images/logo-rectangle-sansfond.png') }}" alt="logo Quai Antique" class="d-inline-block align-text-top" id="logo-top-nav"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">La carte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nos Formules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nos plats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/horaire">Horaires</a>
        </li>
        <li>
        <button class="btn btn-outline-primary">Réserver en ligne</button>
        </li>
      </ul>
      {# if user is connected and is an admin show a button admin to go to the admin interface using switch#}
      {% if app.user and app.user.roles[0] == 'ROLE_ADMIN' %}
      <a href="/admin" class="btn btn-primary-outline btn-dark me-1">Admin</a>
      {% endif %}
      {# if user is connected show a button logout to disconnect the user #}
      {% if app.user %}
      <a href="{{ logout_url(key = null) }}" class="btn btn-primary-outline btn-dark me-1">Déconnexion</a>
      {% endif %}
      {# if user is not connected show a button register to register and a button login to connect #}
      {% if  app.user == null %}
      <a href="/register" class="btn btn-primary-outline btn-dark me-1">s'inscrire</a>
      <a href="/login" class="btn btn-primary">s'identifier</a>
      {% endif %}
    </div>
  </div>
</nav>