@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: 'Lato', sans-serif;
}

#navbar-main {
  background-color: #1b1a17;
}

.wrapper-register {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px #ccc;
  margin: 10rem auto 0 auto;
  padding: 2rem 3rem 1rem 3rem;
  width: 40rem;
}

.wrapper-login {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  margin: 15rem auto;
  padding: 20px;
  width: 40rem;
}

img#logo-top-nav {
  width: 14rem;
  margin: -1rem auto -1rem auto;
}

#hero-container {
  height: 100vh;
}

#hero-image {
  width: 100%;
  position: relative;
  top: 2rem;
  object-fit: cover;
}

#logo-hero-nav {
  width: 20rem;
  height: auto;
}

#main-text {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  position: relative;
  top: -1rem;
  transform: translateY(-8rem);
  backdrop-filter: brightness(60%);
}

@media screen and (min-width: 800px) {
  #hero-image {
    width: 100vw;
    object-fit: cover;
    height: 100vh;
  }
  #logo-hero-nav {
    width: 20rem;
    height: auto;
  }
  #main-text {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    position: relative;
    top: -32.5rem;
    transform: translateY(-8rem);
    backdrop-filter: brightness(60%);
  }
}

.btn-primary {
  background-color: transparent;
  border-color: #f0a500;
  font-weight: bold;
  color: #f0a500;
  margin: 0 0.75rem;
  --bs-btn-active-bg: #e45826;
  --bs-btn-active-border-color: #e45826;
}
.btn-outline-primary {
  border-color: #f0a500;
  color: #f0a500;
  margin: 0 0.75rem;
  --bs-btn-active-bg: #e45826;
  --bs-btn-active-border-color: #e45826;
  font-weight: bold;
}
.btn-primary:hover {
  background-color: #e45826;
  opacity: 0.8;
  border-color: #e45826;
  color: #e6d5b8;
  font-weight: bold;
}
.btn-outline-primary:hover {
  border-color: #e45826;
  background-color: #e45826;
  color: #e6d5b8;
  font-weight: bold;
}

/* GALLERIE*/
.img-thumbnail {
  width: 286px;
  height: 191px;
  object-fit: cover;
}

.card-body {
  overflow: hidden;
  color: black;
  margin-left: 1rem;
  transform: translateY(10rem);
  z-index: 1;
}

/* Admin */

#logo-top-nav-admin {
  width: 12rem;
  display: flex;
  position: relative;
  left: 3rem;
  margin: 1rem auto;
}

@media screen and (min-width: 800px) {
  #logo-top-nav-admin {
    width: 10rem;
    margin: 1rem auto;
  }
}

/* Opening Hours */
.opening_hours_table {
  width: 90%;
}

@media screen and (min-width: 800px) {
  .opening_hours_table {
    width: 40%;
    margin: 9rem auto 4rem auto;
  }
}

.form_hour_container {
  width: 30rem;
}
