{% extends 'base.html.twig' %}

{% block title %}Edition Horaire{% endblock %}

{% block body %}
    <h1>Edition de l'Horaire</h1>

    {{ include('horaire/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <a href="{{ path('app_horaire_index') }}">Retour à la liste</a>

    {{ include('horaire/_delete_form.html.twig') }}
{% endblock %}
