{% extends 'base.html.twig' %}

{% block title %}Hello LaCarteController!{% endblock %}

{% block body %}
<div class="maincontainer_la_carte mt-5">
<div class="wrapper mt-5">
   
   
</div>
</div>
{% endblock %}
{% block javascript %}
    <script src="{{ asset('js/la_carte.js') }}"></script>
{% endblock %}
