{% extends 'base.html.twig' %}

{% block title %}Hello LaCarteController!{% endblock %}

{% block body %}
<div class="maincontainer_la_carte mt-5">
<div class="wrapper mt-5">
    {% for categorie, plat in categories %}
        <h2 class="mt-5">{{ categorie }}</h2>
        <ul>
                <li>{{ plats.nom }}</li>
                <li>{{ plats.prix }}</li>
                <li>{{ plats.description }}</li>
        </ul>
    {% endfor %}
</div>
</div>
{% endblock %}
