{% extends 'base.html.twig' %}

{% block title %}Hello LaCarteController!{% endblock %}

{% block body %}
<div class="maincontainer_la_carte mt-5">
<div class="wrapper mt-5">
   
        <h2 class="mt-5 category">Entrées</h2>
        <ul>
                <li class="name">le nom</li>
                <li class="price">Le Prix</li>
                <li class="description">la description</li>
        </ul>

        <h2 class="mt-5 category">Plats</h2>
        <ul>
                <li class="name">le nom</li>
                <li class="price">Le Prix</li>
                <li class="description">la description</li>
        </ul>

        <h2 class="mt-5 category">Desserts</h2>
        <ul>
                <li class="name">le nom</li>
                <li class="price">Le Prix</li>
                <li class="description">la description</li>
        </ul>
</div>
</div>
{% endblock %}
{% block javascript %}
    <script src="{{ asset('js/la_carte.js') }}"></script>
{% endblock %}
