{% extends 'base.html.twig' %}

{% block title %}Hello MentionsLegalesController!{% endblock %}

{% block body %}

<div class="Mentions-wrapper mt-5 p-4">
    <h1 class="Main-title-Mentions mt-5 d-flex justify-content-center display-1">Mentions légales</h2>
<h2 class="secondary-title d-flex justify-content-center display-3">Site enregistré sous le n° ISSN XXXX-XXXX</h2>
    <div class="Mentions-legales-content">
                
<h2 class="primary-title">Éditeur</h2>
<strong>Restaurant Quai Antique</strong> <br>Adresse<br>00000 Magnifique ville de Savoie Cedex<br>Tél : +33(0)x xx xx xx x<br>Fax : +33(0)x xx xx xx xx<br><strong>Directeur de la publication :</strong> Arnaud Michant<br><strong>Pour contacter les webmasters :</strong> <a href="mailto:arnaud.michant@gmail.com">arnaud.michant@gmail.com</a>
<h2 class="primary-title">Hébergeur</h2>
<a href="https://www.hostinger.com/" target="_blank" rel="noopener"><strong>Hostinger</strong></a><br>42, rue de Bellevue<br>92100 Boulogne Billancourt<br>Tél : +33(0)1 78 89 35 00<br>
<h2 class="primary-title">Conception</h2>
<a href="https://github.com/antikkorps/" target="_blank" rel="noopener"><strong>Agence Antikkorps</strong></a><br>Adresse,<br>00000 En France<br>Tél : +33(0)x xx xx xx xx<br>
<h2 class="primary-title">Développements</h2>
<a title="Agence Antikkorps" href="https://www.mentalworks.fr/" target="_blank" rel="noopener"><strong>Agence Antikkorps</strong></a><br>00000 En France Tél : +33(0)x xx xx xx xx<br>
<h2 class="primary-title">Utilisation des données et Copyright</h2>
Les données et les informations présentes sur le site Internet <a href="http://www.quai-antique.fr">www.quai-antique.fr</a> sont mises à disposition du public par le restaurant Quai Antique.<br>Ces informations sont protégées par la Convention de Berne sur la Protection des œuvres littéraires et artistiques, par d'autres conventions internationales et par les législations nationales sur le droit d'auteur et les droits dérivés.<br>L'information et les données contenues sur le site Internet peuvent faire l'objet de revues, ou être reproduites ou traduites à des fins de recherche ou d'étude personnelle, mais ne peuvent être ni vendues ni utilisées à des fins commerciales.<br><br><strong>Toute utilisation des données ou des informations provenant du site Internet de l’quai-antique doit obligatoirement mentionner le quai-antique en tant que source de l'information.</strong><br><br>La reproduction, la traduction, ou toute utilisation de données ou d’informations provenant du site Internet de le quai-antique à des fins autres que personnelles, éducatives ou non commerciales, est subordonnée à l'obtention préalable d'une autorisation écrite formelle du directeur général de le quai-antique.<br><br><strong>Le logo de le quai-antique est un modèle déposé et protégé.</strong> Toute utilisation nécessite une autorisation écrite formelle du directeur général de le quai-antique. Cependant, il existe une dérogation : une autorisation tacite est donnée lorsque le logo est utilisé pour faire un lien sur la page d’accueil du site Internet de le quai-antique. Le logo doit alors être utilisé dans son intégralité et sans aucune modification.<br>
<h2 class="secondary-title">Établissement de liens</h2>
Tout site public ou privé est autorisé à établir, sans autorisation préalable, un lien vers la page d’accueil ou directement vers les informations diffusées par le site du Quai Antique<br>Mais en aucun cas les pages du site <a href="http://www.quai-antique.fr">www.quai-antique.fr</a> ne doivent se retrouver imbriquées à l'intérieur des pages d'un autre site. Tout doit être fait pour indiquer clairement à l’internaute qu’il se trouve sur le site de le quai-antique et lui permettre d’y naviguer librement.<br><br>Pour sa part, le quai-antique établit des liens uniquement sur les sites publics et n'est en rien responsable de liens qui sont faits vers son site.<br>Cependant si vous créez un lien vers le quai-antique nous apprécierions d’en être informé par un simple mail à : <a href="mailto:webmaster@quai-antique.fr">webmaster@quai-antique.fr</a>
<h2 class="secondary-title">Avertissement général</h2>
La mention de firmes ou de produits commerciaux n'implique pas que ces firmes ou produits commerciaux sont agréés ou recommandés par le quai-antique.

<ul style="list-style-type: circle;">
<li>La rédaction et le contenu du site est indépendant et libre de tout conflit d'intérêts.</li>
<li>Ce site n'accepte aucune forme de publicité, ni ne reçoit de fonds publicitaires.</li>
<li>Les financements de le quai-antique sont détaillés dans le rapport annuel d'activité.</li>
</ul>
<h2 class="primary-title">Protection des données à caractère personnel et politique de confidentialité</h2>
<h2 class="secondary-title">Qui est responsable de vos données ?</h2>
Les données à caractère personnel recueillies sur ce site internet sont traitées par le quai-antique, en sa qualité de responsable de traitement au sens du Règlement 2016/679 du 27 avril 2016 (règlement général sur la protection des données) et de la Loi n°78-17 relative à l’informatique, aux fichiers et aux libertés modifiées.
<h2 class="secondary-title">Pourquoi vos données sont-elles collectées ?</h2>
La collecte de données à caractère personnel à partir du site Internet est réalisée dans le cadre des demandes d’inscription à notre Newsletter ou à la veille personnalisée, des réponses aux enquêtes en ligne ou des inscriptions à des événements. Elle est également réalisée dans le cadre des télé-enregistrements effectués en ligne, afin de répondre à des obligations légales.<br>
<h2 class="secondary-title">Comment vos données sont-elles traitées ?</h2>
Le quai-antique accorde une importance particulière à la protection de vos données à caractère personnel. C’est pourquoi, outre les mesures de sécurité et de confidentialité mises en œuvre, l’accès et le traitement de vos données est réservé aux seuls agents habilités par l’quai-antique, ainsi, le cas échéant, qu’aux prestataires chargés de l’hébergement et de la maintenance du site Internet qui en assurent la protection. Nous veillons strictement à ce que les données recueillies ne soient jamais détournées ou utilisées à d’autres fins.<br>
<h2 class="secondary-title">Quels sont vos droits sur vos données&nbsp;?</h2>
<ul style="list-style-type: chevron;">
<li>Vous pouvez accéder et obtenir copie des données vous concernant.</li>
<li>Vous disposez pendant toute la durée du traitement d’un droit d’accès, de rectification, de portabilité et d’effacement de vos données ou d’une limitation de leur traitement.</li>
<li>Vous disposez également d’un droit d’opposition au traitement des données vous concernant et du droit de retirer votre consentement, conformément à la législation en vigueur. Ces droits ne s’appliquent pas lorsque le traitement est justifié par une obligation légale.</li>
</ul>
<h2 class="secondary-title">Exercer ses droits</h2>
Vous pouvez exercer ces droits à tout moment auprès de notre Délégué à la protection des données, par demande écrite, en y joignant un justificatif d’identité comportant votre signature à l’une des adresses suivantes : <br><strong>quai-antique, DRD, </strong><br><strong>Délégué à la protection des données,</strong> <br>143-147 Bd Anatole France <br>93285 SAINT DENIS Cedex<br><a href="mailto:dpo@quai-antique.fr">dpo@quai-antique.fr</a>.<br>
<h2 class="secondary-title">Réclamation (plainte) auprès de la CNIL</h2>
Si vous estimez, après nous avoir contactés, que vos droits sur vos données ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL à l’adresse <a href="https://www.cnil.fr/fr/plaintes">https://www.cnil.fr/fr/plaintes</a>.<br>
<h2 class="primary-title"><a id="Veille"></a>Protection des données à caractère personnel et politique de confidentialité - Formulaire d’inscription à la veille personnalisée ou à la newsletter</h2>
Les internautes ont la possibilité de s’abonner au choix à une veille personnalisée et à une Newsletter.
<h4><strong>La veille personnalisée</strong> :</h4>
Elle est envoyée de manière automatique entre une et trois fois par jour aux internautes inscrits. Les données collectées permettent aux internautes de recevoir une alerte dès qu’une information correspondant à un de leurs choix est mise en ligne ou mise à jour sur le site Internet.<br>Ils peuvent sélectionner les informations qu’ils souhaitent recevoir par type de produit, domaine médical, type de document de référence, actualité liée à la vie de l’Agence, les informations de sécurité ou les événements. <br><br><strong>Données traitées pour l’inscription à la veille personnalisée :</strong><br>
<ul style="list-style-type: circle;">
<li>adresse de courrier électronique (e-mail),</li>
<li>date d’abonnement,</li>
<li>type de profil de l’abonné (patient, médecin, journaliste, industriel, autre public, etc.),</li>
<li>spécialité qui intéresse l’abonné (cardiologie, addictologie, autre ou pas de spécialité, etc.)</li>
<li>département de résidence de l’abonné,</li>
<li>statistiques liées au service de la veille personnalisée.</li>
</ul>
<h4><strong>La newsletter</strong> :</h4>
La newsletter est envoyée une fois par semaine. Il s’agit d’une sélection d’informations mises en ligne ou postées sur les réseaux sociaux qui est faite chaque semaine et qui est envoyée aux abonnés.<br><br><strong>Données traitées pour l’inscription à la newsletter :</strong><br>
<ul style="list-style-type: circle;">
<li>adresse de courrier électronique (e-mail),</li>
<li>date d’abonnement.</li>
</ul>
<h2 class="secondary-title">Source des données</h2>
Les données sont issues de l’enregistrement, par la personne souhaitant recevoir la veille personnalisée et la newsletter, de son e-mail dans le champ d’inscription sur le site internet de le quai-antique
<h2 class="secondary-title">Caractère obligatoire du recueil des données</h2>
<ul style="list-style-type: chevron;">
<li>Le recueil de l’adresse de courrier électronique est obligatoire pour l’envoi de la veille de la newsletter.</li>
<li>Le recueil de l'adresse de courrier électronique, du profil, de la spécialité et du département sont obligatoires pour l'envoi de la veille personnalisée.</li>
</ul>
<h2 class="secondary-title">Objet du traitement de données</h2>
<h3>Finalités</h3>
Le traitement a pour objet la gestion de l'envoi de la veille personnalisée et de la Newsletter.<br>Il permet à le quai-antique :<br>
<ul style="list-style-type: circle;">
<li>la gestion des abonnements ;</li>
<li>l'élaboration de statistiques liées au service.</li>
</ul>
<h3>Base légale</h3>
Article 6 (1) e du règlement général sur la protection des données - RGPD<br>Ce traitement de données relève de l'exercice de l'autorité publique dont est investie le quai-antique en application du règlement général sur la protection des données et de la loi Informatique et Libertés modifiée.
<h3>Prise de décision automatisée</h3>
Le traitement ne prévoit pas de prise de décision automatisée.
<h3>Personnes concernées</h3>
Le traitement de données concerne uniquement les personnes qui souhaitent s’enregistrer pour recevoir la veille personnalisée et/ou la Newsletter de le quai-antique.
<h3>Destinataires des données</h3>
<h5>Catégories de destinataires</h5>
Sont destinataires des données :<br>
<ul style="list-style-type: circle;">
<li>le service de la communication de le quai-antique ;</li>
<li>l’hébergeur du site Internet et l’agence web en charge de la maintenance du site Internet</li>
</ul>
<h5>Transferts des données hors UE</h5>
Aucun transfert de données hors de l'Union européenne n'est réalisé.
<h2 class="secondary-title">Durée de conservation des données</h2>
Le quai-antique conserve l’adresse e-mail tant que la personne concernée ne se désinscrit pas (via le lien de désinscription intégré aux newsletters).
<h2 class="secondary-title">Sécurité</h2>
Les mesures de sécurité sont mises en œuvre conformément à la politique de sécurité des systèmes d’information (PSSI) du quai-antique, issue de la PSSI de l’Etat.
<h2 class="secondary-title">Qui est responsable de vos données ?</h2>
Les données à caractère personnel recueillies sur ce site internet sont traitées par le quai-antique, en sa qualité de responsable de traitement au sens du Règlement 2016/679 du 27 avril 2016 (règlement général sur la protection des données) et de la Loi n°78-17 relative à l’informatique, aux fichiers et aux libertés modifiées.
<h2 class="secondary-title">Pourquoi vos données sont-elles collectées ?</h2>
La collecte de données à caractère personnel à partir du site Internet est réalisée dans le cadre des demandes d’inscription à notre Newsletter ou à la veille personnalisée, des réponses aux enquêtes en ligne ou des inscriptions à des événements. Elle est également réalisée dans le cadre des télé-enregistrements effectués en ligne, afin de répondre à des obligations légales.<br>
<h2 class="secondary-title">Comment vos données sont-elles traitées ?</h2>
Le quai-antique accorde une importance particulière à la protection de vos données à caractère personnel. C’est pourquoi, outre les mesures de sécurité et de confidentialité mises en œuvre, l’accès et le traitement de vos données est réservé aux seuls agents habilités par le quai-antique, ainsi, le cas échéant, qu’aux prestataires chargés de l’hébergement et de la maintenance du site Internet qui en assurent la protection. Nous veillons strictement à ce que les données recueillies ne soient jamais détournées ou utilisées à d’autres fins.<br>
<h2 class="secondary-title">Quels sont vos droits sur vos données&nbsp;?</h2>
<ul style="list-style-type: chevron;">
<li>Vous pouvez accéder et obtenir copie des données vous concernant.</li>
<li>Vous disposez pendant toute la durée du traitement d’un droit d’accès, de rectification, de portabilité et d’effacement de vos données ou d’une limitation de leur traitement.</li>
<li>Vous disposez également d’un droit d’opposition au traitement des données vous concernant et du droit de retirer votre consentement, conformément à la législation en vigueur. Ces droits ne s’appliquent pas lorsque le traitement est justifié par une obligation légale.</li>
</ul>
<h2 class="secondary-title">Exercer ses droits</h2>
Vous pouvez exercer ces droits à tout moment auprès de notre Délégué à la protection des données, par demande écrite, en y joignant un justificatif d’identité comportant votre signature à l’une des adresses suivantes : <br><strong>quai-antique, DRD, </strong><br><strong>Délégué à la protection des données,</strong> <br>143-147 Bd Anatole France <br>93285 SAINT DENIS Cedex<br><a href="mailto:dpo@quai-antique.fr">dpo@quai-antique.fr</a>.<br>
<h2 class="secondary-title">Réclamation (plainte) auprès de la CNIL</h2>
Si vous estimez, après nous avoir contactés, que vos droits sur vos données ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL à l’adresse <a href="https://www.cnil.fr/fr/plaintes">https://www.cnil.fr/fr/plaintes</a>.<br>
<h2 class="primary-title"><a id="Evenements"></a>Protection des données à caractère personnel et politique de confidentialité - Gestion des évènements organisés par le quai-antique</h2>
Dans le cadre de l’organisation d’évènements (réunions ou journées d’information, conférences, auditions publiques avec appels à candidatures, appel à candidatures d’experts pour des Comités, etc.), le quai-antique collecte des données personnelles issues des formulaires d’inscription.
<h2 class="secondary-title">Objet du traitement de données</h2>
<h3>Finalité</h3>
Le quai-antique traite ces données dans un but de : <br>
<ul style="list-style-type: circle;">
<li>Gestion des invitations, des inscriptions et organisation logistique du restaurant.</li>
<li>Evaluation qualité et statistiques relatives au restaurant et à sa gestion.</li>
</ul>
<h3>Base légale</h3>
Article 6 (1) e du règlement général sur la protection des données - RGPD<br><br>Ce traitement de données relève de l'exercice de l'autorité publique dont est investie l’quai-antique.
<h3>Données traitées</h3>
<h5>Catégories de données traitées</h5>
<ul style="list-style-type: circle;">
<li>Identité.</li>
<li>Coordonnées.</li>
<li>Échanges relatifs à l’organisation des évènements.</li>
</ul>
<h3>Source des données</h3>
Les données sont issues du formulaire renseigné par la personne souhaitant s’inscrire à l’évènement. <br>
<h3>Caractère obligatoire du recueil des données</h3>
Les formulaires d’inscription prévoient le recueil obligatoire des données qui sont nécessaires à la bonne prise en compte de la demande.<br>
<h3>Prise de décision automatisée</h3>
Le traitement ne prévoit pas de prise de décision automatisée.<br>
<h3>Personnes concernées</h3>
Le traitement de données concerne uniquement les personnes qui souhaitent participer aux évènements organisés par le quai-antique.
<h3>Destinataires des données</h3>
<h5>Catégories de destinataires</h5>
Sont destinataires des données :<br>
<ul style="list-style-type: circle;">
<li>la direction de la communication de le quai-antique,</li>
<li>la (ou les) direction(s) qui organise(nt) l’évènement,</li>
<li>les directions qui gèrent les appels à candidatures d’experts,</li>
<li>le service déontologie.</li>
</ul>
<h5>Transferts des données hors UE</h5>
Aucun transfert de données hors de l'Union européenne n'est réalisé.
<h2 class="secondary-title">Durée de conservation des données</h2>
Les données ne sont pas conservées au-delà de cinq années après la réalisation de l’évènement concerné.
<h2 class="secondary-title">Sécurité</h2>
Les mesures de sécurité sont mises en œuvre conformément à la politique de sécurité des systèmes d’information (PSSI) de l’quai-antique, issue de la PSSI de l’Etat.
<h2 class="secondary-title">Vos droits sur les données vous concernant</h2>
Vous pouvez accéder et obtenir copie des données vous concernant, vous opposer au traitement de ces données, les faire rectifier ou les faire effacer. Vous disposez également d'un droit à la limitation du traitement de vos données.<br>
<h2 class="secondary-title">Qui est responsable de vos données ?</h2>
Les données à caractère personnel recueillies sur ce site internet sont traitées par le quai-antique, en sa qualité de responsable de traitement au sens du Règlement 2016/679 du 27 avril 2016 (règlement général sur la protection des données) et de la Loi n°78-17 relative à l’informatique, aux fichiers et aux libertés modifiées.
<h2 class="secondary-title">Pourquoi vos données sont-elles collectées ?</h2>
La collecte de données à caractère personnel à partir du site Internet est réalisée dans le cadre des demandes d’inscription à notre Newsletter ou à la veille personnalisée, des réponses aux enquêtes en ligne ou des inscriptions à des événements. Elle est également réalisée dans le cadre des télé-enregistrements effectués en ligne, afin de répondre à des obligations légales.<br>
<h2 class="secondary-title">Comment vos données sont-elles traitées ?</h2>
Le quai-antique accorde une importance particulière à la protection de vos données à caractère personnel. C’est pourquoi, outre les mesures de sécurité et de confidentialité mises en œuvre, l’accès et le traitement de vos données est réservé aux seuls agents habilités par le quai-antique, ainsi, le cas échéant, qu’aux prestataires chargés de l’hébergement et de la maintenance du site Internet qui en assurent la protection. Nous veillons strictement à ce que les données recueillies ne soient jamais détournées ou utilisées à d’autres fins.<br>
<h2 class="secondary-title">Quels sont vos droits sur vos données&nbsp;?</h2>
<ul style="list-style-type: chevron;">
<li>Vous pouvez accéder et obtenir copie des données vous concernant.</li>
<li>Vous disposez pendant toute la durée du traitement d’un droit d’accès, de rectification, de portabilité et d’effacement de vos données ou d’une limitation de leur traitement.</li>
<li>Vous disposez également d’un droit d’opposition au traitement des données vous concernant et du droit de retirer votre consentement, conformément à la législation en vigueur. Ces droits ne s’appliquent pas lorsque le traitement est justifié par une obligation légale.</li>
</ul>
<h2 class="secondary-title">Exercer ses droits</h2>
Vous pouvez exercer ces droits à tout moment auprès de notre Délégué à la protection des données, par demande écrite, en y joignant un justificatif d’identité comportant votre signature à l’une des adresses suivantes : <br><strong>quai-antique, DRD, </strong><br><strong>Délégué à la protection des données,</strong> <br>143-147 Bd Anatole France <br>93285 SAINT DENIS Cedex<br><a href="mailto:dpo@quai-antique.fr">dpo@quai-antique.fr</a>.<br>
<h2 class="secondary-title">Réclamation (plainte) auprès de la CNIL</h2>
Si vous estimez, après nous avoir contactés, que vos droits sur vos données ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL à l’adresse <a href="https://www.cnil.fr/fr/plaintes">https://www.cnil.fr/fr/plaintes</a>.<br>
<h2 class="primary-title"><a id="convives"></a>Protection des données à caractère personnel et politique de confidentialité - Formulaire de demande d’information géré par l’accueil des convives</h2>
Les internautes ont la possibilité de faire une demande d’information au quai-antique via le formulaire de contact géré par l’accueil des convives.<br><br>L’accueil des convives est une cellule mise en place à le quai-antique qui centralise toutes les demandes des convives concernant les sujets cités dans le formulaire. Elle trace l’information et répond aux demandes si elle a l’information. Dans le cas contraire, elle trquai-antiqueet la demande à une direction experte de le quai-antique qui lui répond dans un délai défini. L’Accueil des convives trace la réponse et la trquai-antiqueet à le convive.<br>
<h2 class="secondary-title">Objet du traitement de données</h2>
<h3>Finalités</h3>
Le traitement a pour objet la gestion des demandes des convives. Il permet à le quai-antique :<br>
<ul style="list-style-type: circle;">
<li>de répondre aux demandes des convives,</li>
<li>d’assurer la traçabilité des demandes,</li>
<li>d’assurer un suivi statistique des du service de l’accueil des convives.</li>
</ul>
<h3>Base légale</h3>
Article 6 (1) e du règlement général sur la protection des données - RGPD<br>Ce traitement de données relève de l'exercice de l'autorité publique dont est investie l’quai-antique en application du règlement général sur la protection des données et de la loi Informatique et Libertés modifiée. <br>
<h2 class="secondary-title">Données traitées</h2>
<h3>Données traitées dans le cadre de l’accueil des convives</h3>
<ul style="list-style-type: chevron;">
<li>Nom et prénom de la personne<br>En fonction du moyen de communication choisi :
<ul style="list-style-type: chevron;">
<li>adresse de courrier électronique (e-mail),</li>
<li>numéro de téléphone,</li>
<li>adresse postale</li>
</ul>
</li>
</ul>
<h3>Source des données</h3>
Les données sont issues du formulaire renseigné par la personne souhaitant recevoir une réponse à sa demande. Le nom et prénom de la personne, adresse de courrier électronique, numéro de téléphone ou adresse postale sont nécessaires pour pouvoir répondre à la personne qui a fait une demande d’information.<br>
<h3>Caractère obligatoire du recueil des données</h3>
Le recueil du nom et prénom, &nbsp;l’adresse de courrier électronique ou téléphone ou adresse postale est obligatoire pour permettre de répondre à la demande.<br>
<h3>Prise de décision automatisée</h3>
Le traitement ne prévoit pas de prise de décision automatisée. <br>
<h2 class="secondary-title">Personnes concernées</h2>
Le traitement de données concerne uniquement les personnes qui souhaitent réserver une table du restaurant.
<h2 class="secondary-title">Destinataires des données</h2>
<h3>Catégories de destinataires</h3>
Sont destinataires des données :<br>
<ul style="list-style-type: chevron;">
<li>l'Accueil des convives de quai-antique ;</li>
<li>l’hébergeur du site Internet et l’agence web en charge de la maintenance du site Internet</li>
</ul>
<h3>Transferts des données hors UE</h3>
Aucun transfert de données hors de l'Union européenne n'est réalisé. <br>
<h2 class="secondary-title">Durée de conservation des données</h2>
quai-antique conserve le nom et prénom de la personne, l’adresse de courrier électronique, le numéro de téléphone ou l’adresse postale pendant 2 ans maximum. &nbsp;<br>
<h2 class="secondary-title">Sécurité</h2>
Les mesures de sécurité sont mises en œuvre conformément à la politique de sécurité des systèmes d’information (PSSI) du quai-antique, issue de la PSSI de l’Etat.<br>
<h2 class="secondary-title">Qui est responsable de vos données ?</h2>
Les données à caractère personnel recueillies sur ce site internet sont traitées par le quai-antique, en sa qualité de responsable de traitement au sens du Règlement 2016/679 du 27 avril 2016 (règlement général sur la protection des données) et de la Loi n°78-17 relative à l’informatique, aux fichiers et aux libertés modifiées.
<h2 class="secondary-title">Pourquoi vos données sont-elles collectées ?</h2>
La collecte de données à caractère personnel à partir du site Internet est réalisée dans le cadre des demandes d’inscription à notre Newsletter ou à la veille personnalisée, des réponses aux enquêtes en ligne ou des inscriptions à des événements. Elle est également réalisée dans le cadre des télé-enregistrements effectués en ligne, afin de répondre à des obligations légales.<br>
<h2 class="secondary-title">Comment vos données sont-elles traitées ?</h2>
Le quai-antique accorde une importance particulière à la protection de vos données à caractère personnel. C’est pourquoi, outre les mesures de sécurité et de confidentialité mises en œuvre, l’accès et le traitement de vos données est réservé aux seuls agents habilités par l’quai-antique, ainsi, le cas échéant, qu’aux prestataires chargés de l’hébergement et de la maintenance du site Internet qui en assurent la protection. Nous veillons strictement à ce que les données recueillies ne soient jamais détournées ou utilisées à d’autres fins.<br>
<h2 class="secondary-title">Quels sont vos droits sur vos données&nbsp;?</h2>
<ul style="list-style-type: chevron;">
<li>Vous pouvez accéder et obtenir copie des données vous concernant.</li>
<li>Vous disposez pendant toute la durée du traitement d’un droit d’accès, de rectification, de portabilité et d’effacement de vos données ou d’une limitation de leur traitement.</li>
<li>Vous disposez également d’un droit d’opposition au traitement des données vous concernant et du droit de retirer votre consentement, conformément à la législation en vigueur. Ces droits ne s’appliquent pas lorsque le traitement est justifié par une obligation légale.</li>
</ul>
<h2 class="secondary-title">Exercer ses droits</h2>
Vous pouvez exercer ces droits à tout moment auprès de notre Délégué à la protection des données, par demande écrite, en y joignant un justificatif d’identité comportant votre signature à l’une des adresses suivantes : <br><strong>quai-antique, DRD, </strong><br><strong>Délégué à la protection des données,</strong> <br>143-147 Bd Anatole France <br>93285 SAINT DENIS Cedex<br><a href="mailto:dpo@quai-antique.fr">dpo@quai-antique.fr</a>.<br>
<h2 class="secondary-title">Réclamation (plainte) auprès de la CNIL</h2>
Si vous estimez, après nous avoir contactés, que vos droits sur vos données ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL à l’adresse <a href="https://www.cnil.fr/fr/plaintes">https://www.cnil.fr/fr/plaintes</a>.<br>
<h2 class="primary-title">Cookies</h2>
Vous pouvez à tout moment modifier la gestion des cookies en cliquant <a class="cookies" href="#">sur ce lien</a> ou sur le lien disponible en bas de chaque page.
            </div>
</div>
{% endblock %}
