{% extends 'base.html.twig' %}

{% block title %}Liste des plats{% endblock %}

{% block body %}
<div class="opening_hours_table table-responsive" id="opening-hours-tab">
    <table class="table caption-top">
  <caption>Liste des plats</caption>
  <thead>
    <tr class="text-center">
      <th scope="col">Plat</th>
      <th scope="col">Description</th>
      <th scope="col">Prix</th>
      <th scope="col">Image</th>
      <th scope="col">Afficher sur accueil</th>
      {% if app.user and app.user.roles[0] == 'ROLE_ADMIN' %}
      <th scope="col">Modifier</th>
      {% endif %}
    </tr>
  </thead>
  <tbody class="table-group-divider">
  {% for plat in plats %}

    <tr class="text-center">
      <td scope="row text">{{ plat.getNom }}</td>
      <td scope="row text">{{ plat.description }}</td>
      <td scope="row text">{{ (plat.prix)/100 }} €</td>
      {% if plat.ImageName is defined %}
      <td scope="row text">Image disponible</td>
      {% else %}
      <td scope="row text">Pas d'image</td>
      {% endif %}
      {% if plat.isDisplayInGallery == 1 %}
      <td scope="row text">Oui</td>
      {% else %}
      <td scope="row text">Non</td>
      {% endif %}

        {% if app.user and app.user.roles[0] == 'ROLE_ADMIN' %}
        <td>
      <a href="/admin/plat/edit/{{ plat.getid }}" class="btn btn-primary me-4 align-content-right"><svg
  width="24"
  height="24"
  viewBox="0 0 24 24"
  xmlns="http://www.w3.org/2000/svg"
  fill="none"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
>
  <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7" />
  <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z" />
</svg></a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

      

</div>
{% endblock %}
